@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
}
:root {
    --accent: #2980ff; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 1;
    }
}

h1, a, section {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0; 
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: rgb(59, 59, 59);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} 

.logo {
    font-size: 3rem;
    color: var(--accent);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: var(--accent);
    border-bottom: 3px solid var(--accent);
}

@media (max-width:995px){
    nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--accent);
        border-bottom: 3px solid var(--accent);
        border-bottom-left-radius: 2rem;
        padding: 1rem 0;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}

nav a:hover{
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--accent);
}

nav a.active{
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--accent);
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

@media (max-width: 995px) {

    .menu-icon {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 70%;
        background: #111;
        border-left: 3px solid #3b82f6;
        border-bottom: 3px solid #3b82f6;
        border-bottom-left-radius: 2rem;
        padding: 2rem;
        transition: 0.3s ease;
        display: block;
    }

    nav a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    #menu-toggle:checked ~ nav {
        right: 0;
    }

    .home {
        flex-direction: column;
        text-align: center;
        gap: 3rem;
    }

    .skills-box,
    .project-box,
    .contact-boxes {
        flex-direction: column;
        align-items: center;
    }

    .skill-card,
    .project-card,
    .contact-item {
        width: 80%;
    }

    .home-img img {
        width: 55vw;
    }
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: var(--accent);
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--accent);
    cursor: pointer;
    transition: 0.2s linear;
}

.heading{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 3rem;
    font-weight: 700;
}

.about{
    padding: 5rem 9%;
}

.about-text{
    font-size: 2rem;
    background: rgb(0, 0, 0);
    width: 70%;
    margin: auto;
    text-align: center;
    line-height: 1.7;
     border-radius: 1rem;
    border: 2px solid var(--accent);
    transition: 0.3s;
}

.about-text:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px var(--accent);
}

.profile{
    padding: 5rem 9%;
}

.profile-container{
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.profile-card{
    background-color: #161616;
    padding: 2rem 3rem;
    width: 28rem;
    border-radius: 1rem;
    border: 2px solid var(--accent);
    text-align: center;
    transition: .3s ease;
}

.profile-card h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.profile-card p{
    font-size: 1.6rem;
    opacity: 0.8;
    line-height: 1.6;
}

.profile-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px var(--accent);
}

.skills{
    padding: 5rem 9%;
}

.skill-card {
    width: 160px;
    height: 160px;
    background: #222;
    border-radius: 15px;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
    background: var(--accent);
}

.skill-card i {
    font-size: 50px;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 0.3s ease;
}

.close {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

@keyframes fadeIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}


.projects{
    padding: 5rem 9%;
}

.project-box{
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.project-card{
    background-color: #161616;
    padding: 2rem;
    width: 30rem;
    text-align: center;
    border-radius: 1rem;
    border: 2px solid var(--accent);
    transition: 0.3s;
}

.project-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: .8rem;
    margin-bottom: 1.5rem;
    border: 2px solid var(--accent);
}

.project-card h3{
    font-size: 2.5rem;
    margin-bottom: .7rem;
}

.project-card p{
    font-size: 1.5rem;
    opacity: .8;
    line-height: 1.6;
}

.project-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px var(--accent);
}

.contact-boxes {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.contact-item {
    width: 140px;
    height: 140px;
    background: #222;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.contact-item i {
    font-size: 40px;
    margin-bottom: 10px;
}

.contact-item:hover {
    transform: translateY(-5px);
    background: #333;
}
